<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Change Password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="changepasswordForm" id="changepasswordForm" ng-submit="cp_save();" novalidate="">
      <div class="col">
        <div ng-show="success_message" class="alert alert-success">
            {{success_message}}
        </div>
        <div ng-show="err_message" class="alert alert-danger">
            {{err_message}}
        </div>
          <div class="list">
              <label class="item item-input" ng-class="{'has-error':(changepasswordForm.oldpassword.$dirty && changepasswordForm.oldpassword.$error.required) || ()}">
                  <input type="password" name="oldpassword" placeholder='Old Password' required value="" ng-model="cpData.oldpassword"/>
              </label>
              <div class="row margintop padding-non" ng-show="changepasswordForm.oldpassword.$dirty && (changepasswordForm.oldpassword.$error.required)">
                <div class="col col-70 padding-non fullwidth error-label">Old password is required.</div>
              </div>
          </div>
            
          <div class="list" ng-class="{'has-error':changepasswordForm.newpassword.$dirty && (changepasswordForm.newpassword.$error.required)}">
              <label class="item item-input">
                <input type="password" name="newpassword" id="newpassword" autocomplete="off" placeholder='New Password' required value="" ng-model="cpData.newpassword" />
              </label>
              <div class="row margintop padding-non" ng-show="changepasswordForm.newpassword.$dirty && (changepasswordForm.newpassword.$error.required)">
                <div class="col col-70 padding-non fullwidth error-label">New password is required.</div>
              </div>
          </div>
          
          <div class="list" ng-class="{'has-error': (changepasswordForm.confirmpassword.$dirty && changepasswordForm.confirmpassword.$error.required) || cpData.newpassword != cpData.confirmpassword}">
              <label class="item item-input">
                <input type="password" name="confirmpassword" id="confirmpassword" autocomplete="off" placeholder='Confirm Password' required value="" ng-model="cpData.confirmpassword" />
              </label>
              <div class="row margintop padding-non" ng-show="changepasswordForm.confirmpassword.$dirty && (changepasswordForm.confirmpassword.$error.required)">
                <!--<div class="col col-70 padding-non fullwidth error-label">Confirm password is required.</div>-->
                <label class="fullwidth error-label">Confirm password is required.</label>
              </div>
              <div class="row margintop padding-non" ng-show="cpData.newpassword != cpData.confirmpassword">
                <label class="fullwidth error-label">New password and confirm password doesn't match.</label>
              </div>
          </div>
      </div>
      <button type="submit" class="button button-block button-dark" ng-disabled="changepasswordForm.$invalid">
          Save
      </button>
    </form>
  </ion-content>
</ion-modal-view>
