<ion-view view-title="Daily Heart Rate">
    <ion-nav-buttons side="right">
        <!--<button class="button button-icon button-clear ion-key" menu-toggle="right" ng-click="changePassword();">
        </button>-->
    </ion-nav-buttons>
    <ion-content>
      	<!--ion-item class="quqes-title">
	        <h3 class="center"> </h3>
	        <div class="title-date center"> 22 September, 2015</div>
      	</ion-item-->
	<ion-list class="questionnaire" ng-controller="AppCtrl" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
	      	<ion-item ng-if="hrdata" class="item item-divider border-right ques-lnk question-padding" ng-repeat="hr in hrdata">
		        <div class="ques-title">HR value : {{hr.avg_heart_rate}}</div>
                        <div class="time">Time range : {{hr.start_time}} - {{hr.end_time}}</div>
		        <!--<div class="datetime">
		        	<span class="time">
		        		<i class="ion-clock"></i>
		        		{{hr.ntime}}
		        	</span>
		        	<span>
		        		<i class="ion-calendar"></i>
		        		{{hr.ndate}}
		        	</span>
		        </div>-->
	      	</ion-item>
		<div ng-if="norecords" class="center">{{norecords}}</div>
	</ion-list>
    </ion-content>
</ion-view>