<ion-view>
  <ion-content class="greenbg">
    <h1 class="main-title">Housepital</h1>
    <div ng-show="error_message" class="alert alert-danger">
        {{error_message}}
    </div>
    <form name="loginForm" id="loginForm" ng-submit="sign_in();" novalidate="">
      <div class="list">
        <label class="item item-input" ng-class="{'has-error': loginForm.username.$dirty && (loginForm.username.$error.required || errordetail.username)}">
          <i class="icon ion-email placeholder-icon"></i>
          <input type="text" placeholder="Username" name="username" id="username" ng-change="check_terms();" ng-model="loginData.username" ng-minlength="2" ng-maxlength="20" required>
        </label>
        <div ng-show="loginForm.username.$dirty && (loginForm.username.$error.required || errordetail.username)" class="login-err error-container">
          Username is required.
        </div>
        <label class="item item-input"  ng-class="{'has-error': loginForm.password.$dirty && (loginForm.password.$error.required || errordetail.password)}">
          <i class="icon ion-key placeholder-icon"></i>
          <input type="password" placeholder="Password" id="password" name="password" ng-model="loginData.password" ng-minlength="4" ng-maxlength="20" required>
        </label>
        <div ng-show="loginForm.password.$dirty && (loginForm.password.$error.required || errordetail.password)" class="login-err error-container">
          Password is required.
        </div>
        <!--<ion-list>-->
        <div class="chkboxDiv" ng-if="is_read_terms_exist != 1">
          <ion-checkbox ng-model="loginData.is_read_terms" id="tnc" name="tnc" value=""></ion-checkbox>
          <span>I have read the <a href="#" ng-click="view_disclaimer();">Terms &amp; Conditions.</a></span>
        </div>
        <!--</ion-list>-->
        <!--<button class="button button-block button-dark" ng-disabled="(loginForm.$invalid == true) || (loginData.is_read_terms != true)" type="submit">-->
          <button class="button button-block button-dark" ng-disabled="loginForm.$invalid" type="submit">
          LogIn
        </button>   
        <!--ion-item class="link" href="#/app/questionnaire">
          forgot password?
        </ion-item-->
      </div>
    </form>
  </ion-content>
</ion-view>