<ion-view view-title="Update Profile">
	<ion-content>
		<form name="quesForm" id="quesForm" ng-submit="ques_save();" novalidate="">
			<ion-list class="questionnaire">
				<ion-item class="item item-divider border-top wrpnrml">
					<label class="item-input">
					  <span class="input-label">First Name</span>
					  <input placeholder="Frist Name" type="text" name="firstname" value="" ng-model="patientData.first_name" class="left-padding"/>
					</label>
				</ion-item>
				<ion-item class="item item-divider border-top wrpnrml">
					<label class="item-input">
					  <span class="input-label">Last Name</span>
					  <input placeholder="Last Name" type="text" name="lastname" value="" ng-model="patientData.last_name" class="left-padding"/>
					</label>
				</ion-item>
				<ion-item class="item item-divider border-top wrpnrml">
					<label class="item-input">
					  <span class="input-label">Email</span>
					  <input placeholder="Email" type="text" name="email" value="" ng-model="patientData.email" class="left-padding"/>
					</label>
				</ion-item>
				<ion-item class="item item-divider border-top wrpnrml">
					<label class="item-input">
					  <span class="input-label">DOB</span>
					  <input placeholder="DOB" type="text" name="dob" value="" ng-model="patientData.dob" class="left-padding"/>
					</label>
				</ion-item>
				<ion-item class="item item-divider border-top wrpnrml">
					<label class="item-input">
					  <span class="input-label">Gender</span>
					  <input placeholder="Gender" type="text" name="gender" value="" ng-model="patientData.gender" class="left-padding"/>
					</label>
				</ion-item>
				<ion-item class="item item-divider border-top wrpnrml">
					<label class="item-input">
					  <span class="input-label">Height</span>
					  <input placeholder="Height" type="text" name="height" value="" ng-model="patientData.height" class="left-padding"/>
					</label>
				</ion-item>
				<ion-item class="item item-divider border-top wrpnrml">
					<label class="item-input">
					  <span class="input-label">Weight</span>
					  <input placeholder="Weight" type="text" name="weight" value="" ng-model="patientData.weight" class="left-padding"/>
					</label>
				</ion-item>
				<ion-item class="item item-divider border-top wrpnrml">
					<label class="item-input">
					  <span class="input-label">Mobile</span>
					  <input placeholder="Mobile Numebr" type="text" name="mobile" value="" ng-model="patientData.mobile" class="left-padding"/>
					</label>
				</ion-item>
				<ion-item class="item item-divider border-top wrpnrml">
					<label class="item-input">
					  <span class="input-label">Address</span>
					  <input placeholder="Address" type="text" name="address" value="" ng-model="patientData.address" class="left-padding"/>
					</label>
				</ion-item>
				<button type="submit" class="button button-block button-dark">
					Update
				</button>
			</ion-list>
		</form>
	</ion-content>
</ion-view>