<ion-view view-title="{{questionnaires.name}}">
	<ion-content>
	<form name="quesForm" id="quesForm" ng-submit="ques_save();" novalidate="">
		<ion-list class="questionnaire">
			<ion-item class="item item-divider border-top wrpnrml" ng-repeat="ques in questionnaires.question">
				<!-- {{ques}} -->
				Q: {{ques.name}}<!-- ? {{ques._id}} -->
				<div class="row" ng-if='ques.answer_type=="text"'>
					<div class="col">
						<div class="list">
							<label class="item item-input">
								<!--input type="text" placeholder="Answer Answer " maxlength="ques.max_length"-->
								<textarea rows="5" cols="6" ng-model="quesData[ques._id]">Answer Answer </textarea>
							</label>
					    </div>
					</div>
				</div>
				<div class="row" ng-if='ques.answer_type=="dd"'>
					<div class="col">
						<label ng-if='ques.answer' class="item item-input item-select">
							<div class="input-label">
							    Lightsaber
							</div>
							<select class="input-label" ng-model="quesData[ques._id]">
								<option ng-repeat="ans in ques.answer">{{ans.name}} {{ans._id}} {{ans.out_of_range}}</option>
							</select>
						</label>
					</div>
				</div>
				<div class="row" ng-if='ques.answer_type=="number"'>
					<div class="col">
						<div class="list">
							<div class="item range range-positive">
								{{ques.min_range}} <input type="range" name="volume" min="ques.min_range" max="ques.max_range" value="" ng-model="quesData[ques._id]"> {{ques.max_range}}
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if='ques.answer_type=="rb"'>
					<div class="col">
						<ion-list ng-if='ques.answer' class="list">
							<label ng-repeat="ans in ques.answer" class="item item-radio">
								<ion-radio ng-value="ans._id" ng-model="quesData[ques._id]"> {{ans.name}} </ion-radio>
							</label>
				      	</ion-list>
					</div>
				</div>
				<div ng-if='ques.answer_type=="cb"' class="row responsive-sm">
					<div class="col" ng-repeat="ans2 in ques.answer">
							<input type="checkbox" value="{{ans2._id}}" ng-model ="ansData[ques._id][ans2._id]" />
						{{ans2.name}}
					</div>
				</div>
			</ion-item>
			<!-- <ion-item class="item"> -->
				<!-- <button class="button button-block button-positive">
				  Block Button
				</button> -->
				
			<!-- </ion-item> -->
			<div class="save-button">
				<button class="button button-block">
				  Save
				</button>
				<!-- <a class="">
					Save
				</a> -->
			</div>
		</ion-list>
		</form>
	</ion-content>
</ion-view>