<ion-view view-title="Deal">
  <ion-content class="has-tabs">

    <div class="list card">
	  <div class="item item-avatar single-deal-avatar-head">
	    <img src="{{dealIconPath}}{{deal.deal_icon}}" err-src="http://192.155.246.146:3300/app_images/unavailable.jpg" >
	    <h2 class="deal-name">{{ deal.deal_name }}</h2>
	    <p>by <span class="deal-owner-name-single-deal">{{deal.deal_owner.first_name + ' ' + deal.deal_owner.last_name}}</span></p>
	    <span class="single-deal-price"><i class="icon ion-social-usd"></i> {{ deal.deal_price }}</span>	    
	  </div>

	  <div class="item item-body">
	  	<h2>{{deal.deal_name}}</h2>	  	
	    <img class="full-image" src="{{dealImagePath}}{{deal.deal_photo}}" err-src="http://192.155.246.146:3300/app_images/unavailable.jpg" >
	    
	    <div class="deal-price-n-rating">
	    	<!--onlyrating ng-model="data.rating" max="data.max"></onlyrating-->
	    	<div class="only-rating-stars">	    		
		    	<span class="rated-stars-single-deal">
		    		<i class="icon ion-star assertive" ng-repeat="n in [] | ratingstar:ratedstars"></i>
		    	</span>
		    	<span class="unrated-stars-single-deal">
		    		<i class="icon ion-ios-star-outline assertive" ng-repeat="n in [] | ratingstar:unratedstars"></i>
		    	</span>
	    	</div>
	    	<div class="only-flag-deal">
	    		<a ng-click="flag(deal._id)"><i class="icon ion-ios-flag pink-colo-font"></i> Flag It!</a>
	    	</div>
        </div>
	    <!--p><rating ng-model="data.rating" max="data.max"></rating></p-->
	    	    
	    <div class="card inner-deal-card">
		  <div class="item item-text-wrap">
		    <strong>Posted On:</strong> {{deal.deal_created | time}}
		  </div>
		</div>

	    <div class="card inner-deal-card">
		  <div class="item item-text-wrap">
		    <strong>Validity:</strong> {{deal.deal_from | time}} to {{deal.deal_to | time}}
		  </div>
		</div>
	    
	    <div class="card inner-deal-card">
		  <div class="item item-text-wrap">
		    <strong>Description:</strong> {{deal.deal_description}}
		  </div>
		</div>
	    
	    <p ng-if="deal.deal_video != ''">
	    	<iframe class="youtube-player" type="text/html" width="100%" height="240" ng-src="{{trustSrc(deal.deal_video)}}" allowfullscreen frameborder="0"></iframe> 
	    </p>

	    <p>
	      <a href="#" class="subdued">{{sharesCount}} Share</a>
	      <a href="#" class="subdued">{{reviewsCount}} Reviews</a>
	    </p>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" ng-click="rate(1)">
	      <i class="icon ion-thumbsup"></i>
	      Rate
	    </a>
	    <a class="tab-item" ng-click="rate(2)">
	      <i class="icon ion-chatbox"></i>
	      Review
	    </a>
	    <a class="tab-item" ng-click="share_web(deal._id, deal.deal_short_desc, deal.deal_name, '', '')">
	      <i class="icon ion-share"></i>
	      Share
	    </a>
	  </div>

	</div>

  </ion-content>
</ion-view>