<ion-modal-view class="share-modal">
  <ion-header-bar class="pink-white-theme-color">
    <h1 class="title">Share! This Deal</h1>
    <div class="buttons">
      <button class="button button-outline close-button" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row responsive-sm social-icons-modal">
      <div class="col">
        <h2 class="light"><i class="icon ion-ios-undo light"></i> Share</h2>
      </div>
      <div class="col">
        <button class="button button-calm" ng-click="share_web(shareDealId, shareDealOwner, 'tw', shareDealmessage, shareDealsubject, shareDealfile, shareDeallink)">
          <i class="icon ion-social-twitter light"></i> via Twitter
        </button>
      </div>
      <div class="col">
        <button class="button button-positive" ng-click="share_web(shareDealId, shareDealOwner, 'fb', shareDealmessage, shareDealsubject, shareDealfile, shareDeallink)">
          <i class="icon ion-social-facebook light"></i> via Facebook
        </button>
      </div>
      <div class="col">
        <button class="button button-assertive" ng-click="share_web(shareDealId, shareDealOwner, 'gp', shareDealmessage, shareDealsubject, shareDealfile, shareDeallink)">
          <i class="icon ion-social-googleplus light"></i> via Google+
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>