<ion-modal-view class="review-modal">
  <ion-header-bar class="pink-white-theme-color">
    <h1 class="title">Create New Biz Address</h1>
    <div class="buttons">
      <button class="button button-outline close-button" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="addBizForm" ng-submit="createBizAddr(address)" novalidate>
      
      <div class="list">
        
        <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : addBizForm.biz_zipcode.$invalid && !addBizForm.biz_zipcode.$pristine }">
          <span class="input-label">Zipcode</span>
          <input type="number" placeholder="e.g. 100016" name="biz_zipcode" ng-model="address.biz_zipcode" required>
        </label>
        <div class="form-error" ng-show="addBizForm.biz_zipcode.$invalid && !addBizForm.biz_zipcode.$pristine" >Zipcode is required and should be valid
        </div>

        <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : addBizForm.biz_address.$invalid && !addBizForm.biz_address.$pristine }">
          <span class="input-label">Complete Address</span>
          <textarea rows="4" placeholder="e.g. 37 Street Road, Near Mall Road, Texas" name="biz_address" ng-model="address.biz_address" required></textarea>
        </label>
        <div class="form-error" ng-show="addBizForm.biz_address.$invalid && !addBizForm.biz_address.$pristine" >Address is required
        </div>

        <div class="padding">
          <button class="button button-block pink-white-theme-color" type="submit" ng-disabled="addBizForm.$invalid">
            Create
          </button>
        </div>
      </div>

    </form>
  </ion-content>
</ion-modal-view>