<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="pink-white-theme-color">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear button-light ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="pink-white-theme-color">
      <h1 class="title">123Deals4U</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <!--ion-item menu-close ng-click="login()">
          Login
        </ion-item-->
        <ion-item           
          ng-click="toggleGroup(group)"
          ng-class="{active: isGroupShown(group)}"
          >
          <i class="icon ion-bag"></i> Deals Center
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="category in dealCategories"
                  ng-show="isGroupShown(group)">
            <a menu-close href="#/app/cat-deals/{{category._id}}/{{category.category_name}}">{{category.category_name}}</a>
        </ion-item> 
        
        <!--ion-item menu-close href="#/app/deals">
          <i class="icon ion-briefcase"></i> Special Deals
        </ion-item-->
        <ion-item menu-close href="#/app/my-reviews">
          <i class="icon ion-android-textsms"></i> My Reviews
        </ion-item>
        
        <div ng-if="userData.usertype == '1'">
          <ion-item menu-close href="#/app/my-deals" >
            <i class="icon ion-calendar"></i> My Deals
          </ion-item>
          <ion-item menu-close href="#/app/create-deal" >
            <i class="icon ion-plus-round"></i> Create Deal
          </ion-item>
          <ion-item menu-close href="#/app/biz-address" >
            <i class="icon ion-location"></i> Biz. Addresses
          </ion-item>
          <ion-item menu-close href="#/app/credits" >
            <i class="icon ion-card"></i> Credits
          </ion-item>
        </div>

        <ion-item menu-close ng-click="logout()" >
          <i class="icon ion-log-out"></i> Logout
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<div class="tabs tabs-icon-bottom pink-white-theme-color tabs-color-light">
  
  <a class="tab-item" href="#/app/favourites">
    <i class="icon ion-star"></i>
    Favorites
  </a>
  <a class="tab-item" href="#/app/settings">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
  <a class="tab-item" href="#/app/deals">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" href="#/app/profile">
    <i class="icon ion-android-person"></i>
    Profile
  </a>
  <a class="tab-item" ng-click="logout()" >
    <i class="icon ion-log-out"></i>
    Log Out
  </a>
</div>
